{% extends "base.html" %}

{% block app_content %}
 
 <!-- -->
 
 <div class="row">
        <div class="col-md-12 title">
            <h3>Waypoints</h3>
        </div>

    </div>

    <div class="form-group pull-right">
            <input type="text" class="search form-control" placeholder="What you looking for?">
        </div>
        <span class="counter pull-right"></span>
        <table class="table table-hover table-bordered results">
          <thead>
            <tr>
              <th>User ID</th>
              <th class="col-md-5 col-xs-5">Place</th>
              <th class="col-md-5 col-xs-5">Waypoint User ID</th>
              <th class="col-md-4 col-xs-4">Lat</th>
              <th class="col-md-3 col-xs-3">Lon</th>
              <th class="col-md-3 col-xs-3">Delete</th>
            </tr>
            <tr class="warning no-result">
              <td colspan="4"><i class="fa fa-warning"></i> No result</td>
            </tr>
          </thead>
          <tbody>
            {% for waypoint in waypoints %}
            <tr>
              <th class="td-name" scope="row">{{ current_user.id }}</th>
                
              <td class="td-name">
                    {% set user_link %}
                    <span class="user_popup">
                    <a class="user_popup" href="#">{{ waypoint.place }}</a>
                    </span>
                    {% endset %}
                    {{ user_link }}
                    <br /><small>~ To {{ waypoint.description }}</small>  
              </td>
              <td>{{ waypoint.user_id }}</td>
              <td>{{ waypoint.placelat }}</td>
              <td>{{ waypoint.placelon }}</td>
              <td><a class="user_popup" href="{{ url_for('main.deletewaypoint', waypoint=waypoint.place) }}">Delete {{ waypoint.place }}</a></td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>

{% endblock %}

