<html>
    <head>
			<meta charset="utf-8" />

			<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon.png') }}">
			
			<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
			
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


			<style type="text/css">
				@font-face {
				font-family: 'sequel-pro';
				src: url({{ url_for('static', filename='static/fonts/sequel-pro-webfont.woff') }});
				
				
				font-weight:bold; 
			}
			</style>
			


<style type="text/css">
	@font-face {
    font-family: 'great_vibesregular';
    src: url('static/fonts/greatvibes-regular-webfont.eot');
    src: url('static/fonts/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('static/fonts/greatvibes-regular-webfont.woff2') format('woff2'),
         url('static/fonts/greatvibes-regular-webfont.woff') format('woff'),
         url('static/fonts/greatvibes-regular-webfont.ttf') format('truetype'),
		 url('static/fonts/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
		 
    font-weight: normal;
	font-style: italic;

}

@font-face {
    font-family: 'Medusa';
    src: url('fonts/Medusa.eot');
    src: url('fonts/Medusa.eot?#iefix') format('embedded-opentype'),
        url('fonts/Medusa.woff2') format('woff2'),
        url('fonts/Medusa.woff') format('woff'),
        url('fonts/Medusa.ttf') format('truetype'),
        url('fonts/Medusa.svg#Medusa') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'billy_ohioregular';
    src: url('fonts/billy_ohio-webfont.eot');
    src: url('fonts/billy_ohio-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/billy_ohio-webfont.woff2') format('woff2'),
         url('fonts/billy_ohio-webfont.woff') format('woff'),
         url('fonts/billy_ohio-webfont.ttf') format('truetype'),
         url('fonts/billy_ohio-webfont.svg#billy_ohioregular') format('svg');
	font-weight: normal;
	font-style: italic;


}
		
</style>

        {% if title %}
        <title>{{ title }} - Blue Moon Kampala</title>
        {% else %}
        <title>Blue Moon Kampala</title>
        {% endif %}

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

        <!-- CSS Files -->
            
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/material-kit.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/vertical-nav.css') }}">
    
        <!-- <style> body {background-color: #ffe72c} </style> -->


        
    </head>
	<body class="product-page">
			{% block navbar %}

			<!-- Navbar will come here -->
	<nav class="navbar navbar-default navbar-transparent navbar-fixed-top "  id="sectionsNav">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
							<span class="sr-only">Toggle navigation</span>

						</button>
						<a class="navbar-brand" href="{{ url_for('main.index') }}"><img class="img" src="{{ url_for('static', filename = 'img/brand_blue1.png') }}" alt="Blue Moon Kampala" /></a>

		
					<!-- <span style="font-family: 'billy_ohioregular';"> . . .</span> -->
		
				</div>
		

			</div>
			</nav>
		<!-- end navbar -->


		{% endblock %}
		
		<div class="page-home" style="background-image: url('static', filename='img/bg7home.jpg'); background-size: cover; background-position: top center;" >
				<div class="block-a" navbar-theme="blue">
					<ul id="scene">
						<li class="layer" data-depth="0.50"><div class="container"><div class="scene-salmon"></div></li>
						<li class="layer" data-depth="0.30"><div class="container"><img class="scene-ingredients2" src="{{ url_for('static', filename = 'img/app/layout/home/a_ingredients2.png') }}" /></div></li>
						<li class="layer" data-depth="0.25"><div class="container"><img class="scene-label" src="{{ url_for('static', filename = 'img/app/layout/home/a_label.png') }}" /></div></li>
						<li class="layer" data-depth="0.40"><div class="container"><img class="scene-ingredients3" src="{{ url_for('static', filename = 'img/app/layout/home/a_ingredients3.png') }}" /></div></li>
						<li class="layer" data-depth="0.20"><div class="scene-ingredients"></div></li>
					</ul>
					<div class="container title">
							<span class="title text"> Of WOBBLERS, <br />BUSY BEES, <br class='hidden-xs' />, & WHOO ALL KIND OF BIRDS <br class='visible-xs' /> ~ <br class='hidden-xs' /><span class='decoration'>~</span> 
				&nbsp;</span>
							<a href="#bluemoonuganda">
								<i class="fa fa-2x fa-angle-double-down visible-xs" aria-hidden="true"></i>
							</a>
						</div> 

						


							</div>	 <!-- End Div class block-a--> 

							
								
									<div class="cd-section" id="features">
								
									<div class="container">
								
										<!--     *********     FEATURES 1      *********      --> 
								
										<div class="features-1" style="background-image: url({{ url_for('static', filename='img/test-bg7.png') }}); background-repeat: no-repeat;">
											<div class="row" >
												<div class="col-md-8 col-md-offset-2">
													<h2 class="title">Once in ... a Blue Moon</h2>
													<h5 class="description">A home where children will access the highest quality of foundation stage education.
															We operate under the International Early Years Curriculum (IEYC); a new research-based curriculum recognizing global best practice in early
															childhood education and the developmental needs of 2 - 5 year olds. We support key areas of learning through holistic enquiry and play- based approaches.</h5>
												</div>
											</div>
								
											<div class="row">
												<div class="col-md-4">
													<div class="info">
														<!---
														<div class="icon icon-info">
															<i class="material-icons">chat</i>
														</div> -->
														<h4 class="info-title">Welcome [ Habari ]!</h4> 
														<p>		Its not just a saying, at Bluemoon we view each child 
																as a creative, capable and curious learner. We want 
																children to learn in an environment that is suitable 
																to each child versus the classroom as a whole.
																Have you seen this anywhere? Let us know and we shall
																match it. 
															
																</p>
													</div>
												</div>
								
												<div class="col-md-4">
													
													<div class="info">
														<!--
														<div class="icon icon-success">
															<i class="material-icons">verified_user</i>
														</div> -->
														<h4 class="info-title">Wobbling Bees and Birds</h4> 
														<p> To tap into each child's uniqueness, we have three age groups
															classified as "Wobblers", "Busy bees", "Sun & Sugar birds".
															A child’s day begins with small group activities, arts and crafts, 
															dramatic play, rug work or table work. Songs and greetings 
															interleave this session
															readmore ... </p>
													</div>
												</div>
								
												<div class="col-md-4">
													
													<div class="info">
														<!--
														<div class="icon icon-danger">
															<i class="material-icons">fingerprint</i>
														</div> -->
														<h4 class="info-title">Learning through play</h4> 
														<p>Playing offers many developmental benefits for learning, not just for children
															but adults as well, oh yes we encourage our parents to join in on the fun 
															in sessions such as "Messy Play". Sensory play sessions allow children to explore 
															using their senses they build a unique neurological pathways experience.
															readmore . . .</p>
													</div>
												</div>
											</div>
								
										</div>
								
										<!--     *********    END FEATURES 1      *********      -->
								
									</div>

								
									<div class="cd-section" id="projects">
								
									<!--     *********    PROJECTS 1     *********      -->
								
									<div class="projects-1" id="projects-1">
								
										<div class="container">
								
											<div class="row">
												<div class="col-md-6 col-md-offset-3">
								
												</div>
								
												<div class="col-md-6">														
													<div class="card card-raised card-background" style="background-image: url({{ url_for('static', filename='img/examples/card-blog1.jpg') }}) ">
								
														<div class="card-content">
															<!-- <h6 class="category text-info">Productivity</h6> -->
															<a href="#bluemoon">
																<h3 class="card-title">Join us today!</h3>
															</a>
															<p class="card-description">
																We seek to build on a deliberate online and offline experience based on a feedback based strategy, by encouraging and motivating our members.
															</p>
															<a href="#bluemoon" class="btn btn-danger btn-round">
																<!-- 
																<i class="material-icons">content_copy</i> -->Join Now!
															</a>
														</div>
													</div>
												</div>
								
												<div class="col-md-6">														
													<div class="card card-raised card-background"  style="background-image: url({{ url_for('static', filename='img/examples/card-blog3.jpg') }})">
														<div class="card-content">
															<!--  <h6 class="category text-info">Design</h6> -->
															<h3 class="card-title">Benefits Of Messy Play</h3>
															<p class="card-description">
																	Mental stability leads to overall prosperity. Our
																	positive outlook on life translates positively directly and firstly to the body
																	in which it is housed and in turn has a ripple effect and impact on those
																	around us.
															</p>
															<button class="btn btn-raised btn-round btn-default btn-block" data-toggle="modal" data-target="#noticegameplanModal">
                                            
																Info
															</button>
																<!-- 
																<i class="material-icons">build</i> -->More Info
															</a>
														</div>
													</div>
												</div>
								
											</div>
								
										</div>
									</div>
								
									<!--     *********    END PROJECTS 1      *********      -->
								
									</div>
								
									<div class="cd-section" id="headers">
									<!--     *********     HEADER 3      *********      -->
								
									<div class="header-3">

								
										<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
											<div class="carousel slide" data-ride="carousel">
								
												<!-- Indicators -->
												<ol class="carousel-indicators">
													<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
													<li data-target="#carousel-example-generic" data-slide-to="1"></li>
													<li data-target="#carousel-example-generic" data-slide-to="2"></li>
												</ol>
								
												<!-- Wrapper for slides -->
												<div class="carousel-inner">
													<div class="item active">
														<div class="page-header header-filter" style="background-image: url({{ url_for('static', filename='img/dg1.jpg') }});">
								
															<div class="container">
																<div class="row">
																	<div class="col-md-6">
																		<h1 class="title">Happy > Wobblers | Bees | Birds.</h1>
																		<h4>Are blah bhlasdh djfhkg fdjgkfg eriuier dfjkgdjfg ahsd wyeter jhxc eruyuert mxncvmc?</h4>
																		<br />
																		<a href="https://youtu.be/nJ8XHTeOMRg" target="_blank" class="btn btn-danger btn-lg">
																			<i class="fa fa-ticket"></i> Watch Wobbly Bees & Birds
																		</a>
																	</div>
																	<div class="col-md-5 col-md-offset-1">
																		<div class="iframe-container">
																			<iframe src="https://youtu.be/nJ8XHTeOMRg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen height="250"></iframe>
																		</div>
																	</div>
																</div>
															</div>
														</div>
								
													</div>
													<div class="item">			
														<div class="page-header header-filter" style="background-image: url({{ url_for('static', filename='img/dg2.jpg') }});">
								
															<div class="container">
																<div class="row">
																	<div class="col-md-8 col-md-offset-2 text-center">
																		<h1 class="title">TIME!</h1>
																		<h4>Are  blah bhlasdh djfhkg fdjgkfg eriuier ?</h4>
																		<br />
																		<h6>Connect with us on:</h6>
																		<div class="buttons">
																			<a href="#bluemoon" class="btn btn-just-icon btn-white btn-simple btn-lg">
																				<i class="fa fa-twitter"></i>
																			</a>
																			<a href="#bluemoon" class="btn btn-just-icon btn-white btn-simple btn-lg">
																				<i class="fa fa-facebook-square"></i>
																			</a>
																			<a href="#bluemoon" class="btn btn-just-icon btn-white btn-simple btn-lg">
																				<i class="fa fa-google-plus"></i>
																			</a>
																			<a href="#bluemoon" class="btn btn-just-icon btn-white btn-simple btn-lg">
																				<i class="fa fa-instagram"></i>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
								
														</div>
								
													</div>
								
													<div class="item">
														<div class="page-header header-filter" style="background-image: url({{ url_for('static', filename='img/dg3.jpg') }});">
								
															<div class="container">
																<div class="row">
																	<div class="col-md-7 col-md-offset-5 text-right">
																		<h1 class="title">Sign Up Offer 50% Off</h1>
																		<h4><strong>Do you need a,</strong> convenient way of helping your child grow into their own character as well as manage your busy lifestyle.</h4>
																		<br />
								
																		<div class="buttons">
																			<a href="#bluemoon" class="btn btn-white btn-simple btn-lg">
																				<i class="material-icons">share</i> Share Offer
																			</a>
																			<a href="#bluemoon" class="btn btn-danger btn-lg">
																				<i class="material-icons">shopping_cart</i> Take It Now!
																			</a>
																		</div>
								
																	</div>
																</div>
															</div>
								
														</div>
								
													</div>
								
												</div>
								
												<!-- Controls -->
												
												<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
													<i class="material-icons">&nbsp;&nbsp;&nbsp;<</i>
												</a>
												<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
													<i class="material-icons">>&nbsp;&nbsp;&nbsp;</i> <!-- keyboard_arrow_right-->
												</a> 
													<!-- End Controls-->
											</div>
										</div>
								
									</div>
								
									<!--     *********    END HEADER 3      *********      -->
								
									</div>

								
									<div class="cd-section" id="contactus">
								
									<!--     *********    CONTACT US 1     *********      -->
								
									<div class="contactus-1 section-image" style="background-image: url({{ url_for('static', filename='img/examples/city.jpg') }})">
								
										<div class="container">
											<div class="row">
												<div class="col-md-5">
													<h2 class="title">Get in Touch</h2>
													<!-- 
													<h5 class="description">You need more information? Check what other people are saying about us.</h5>
													-->
													<div class="info info-horizontal">
														<div class="icon icon-primary">
															<!-- <i class="material-icons">pin_drop</i> -->
														</div>
														<div class="description">
															<h4 class="info-title">Find us at the office</h4>
															<p> Lord Eroll, nr. 8,<br>
																7652 Muyenga,<br>
																Kampala
															</p>
														</div>
													</div>
													<div class="info info-horizontal">
														<div class="icon icon-primary">
															<!--<i class="material-icons">phone</i> -->
														</div>
														<div class="description">
															<h4 class="info-title">Give us a ring</h4>
															<p> Claire Mbonye<br>
																+254 787 673 038<br>
																Mon - Fri, 8:00-22:00
															</p>
															<button class="btn btn-raised btn-round btn-default btn-block" data-toggle="" data-target="#">
																
																Skype
															</button>
														</div>
													</div>
								
												</div>
												<div class="col-md-5 col-md-offset-2">
													<div class="card card-contact">
														<form role="form" id="contact-form" method="post">
															
															<div class="card-content">
																<div class="row">
																	<div class="col-md-6">
																		<div class="form-group label-floating">
																			<label class="control-label">First name</label>
																			<input type="text" name="name" class="form-control">
																		</div>
																	</div>
																	<div class="col-md-6">
																		<div class="form-group label-floating">
																			<label class="control-label">Last name</label>
																			<input type="text" name="name" class="form-control">
																		</div>
																	</div>
																</div>
																<div class="form-group label-floating">
																	<label class="control-label">Email address</label>
																	<input type="email" name="email" class="form-control"/>
																</div>
																<div class="form-group label-floating">
																	<label class="control-label">Your message</label>
																	<textarea name="message" class="form-control" id="message" rows="6"></textarea>
																</div>
								
																<div class="row">
																	<div class="col-md-6">
																		<div class="checkbox">
																			<label>
																				<input type="checkbox" name="optionsCheckboxes">
																				I'm not a robot
																			</label>
																		</div>
																	</div>
																	<div class="col-md-6">
																		<button type="submit" class="btn btn-info pull-right">Send Message</button>
																	</div>
																</div>
															</div>
								
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								
									<!--     *********    END CONTACT US 1      *********      -->
								
								

								
									</div>


								
									<nav id="cd-vertical-nav">
										<ul>
											<li>
												<a href="#features" data-number="1" data-toggle="modal" data-target="#loginModal">
													<span class="cd-dot"></span>
													<span class="cd-label">Login</span>
												</a>
											</li>

											<li>
												<a href="#headers" data-number="2">
													<span class="cd-dot"></span>
													<span class="cd-label">Gallery</span>
												</a>
											</li>
											<!-- 
											<li>
												<a href="#blogs" data-number="3" data-toggle="modal" data-target="#noticeModal">
													<span class="cd-dot"></span>
													<span class="cd-label">Game Plan</span>
												</a>
											</li> -->
											<!-- 
											<li>
												<a href="#teams" data-number="4">
													<span class="cd-dot"></span>
													<span class="cd-label">Teams</span>
												</a>
											</li> -->
											<li>
												<a href="#projects" data-number="5">
													<span class="cd-dot"></span>
													<span class="cd-label">Join Us Today</span>
												</a>
											</li>
											<!-- 
											<li>
												<a href="#pricing" data-number="6">
													<span class="cd-dot"></span>
													<span class="cd-label">Pricing</span>
												</a>
											</li> -->
											<!-- 
											<li>
												<a href="#testimonials" data-number="7">
													<span class="cd-dot"></span>
													<span class="cd-label">Testimonials</span>
												</a>
											</li> -->
											<li>
												<a href="#contactus" data-number="8">
													<span class="cd-dot"></span>
													<span class="cd-label">Contact Us</span>
												</a>
											</li>
										</ul>
									</nav>
					
					{% block content %}{% endblock %}
			
			
				</div>
				</div> 



			

		</div>


		<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-login">
			<div class="modal-content">
				<div class="card card-signup card-plain">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
	
					</div>
					<div class="modal-body">
						
							
							<div class="card-content center">
	
									
						
											
														
														<form action="" method="post">
																{{ form.hidden_tag() }}
													<div class="card card-plain">
															{% with messages = get_flashed_messages() %}
															{% if messages %}
																{% for message in messages %}
																<div class="alert alert-info" role="alert">{{ message }}</div>
																{% endfor %}
															{% endif %}
															{% endwith %}
										
															
															
															<div class="card-content center">
										
																<div class="input-group center">
																		<!-- 
																		<span class="input-group-addon">
																			<i class="material-icons">face</i>
																		</span>
																		-->
																		<div class="form-group label-floating">
																				{{ form.username.label(class="control-label") }}<br>
																				{{ form.username(size=32, class="form-control") }}<br>
																				{% for error in form.username.errors %}
																				<span style="color: red;">[{{ error }}]</span>
																				{% endfor %}
																			</div>
																</div>
										
																<div class="input-group">
																		<!-- 
																		<span class="input-group-addon">
																			<i class="material-icons">lock_outline</i>
																		</span>
																		-->
																		<div class="form-group label-floating">
																				{{ form.password.label(class="control-label") }}<br>
																				{{ form.password(size=32, class="form-control") }}<br>
																				{% for error in form.password.errors %}
																				<span style="color: red;">[{{ error }}]</span>
																				{% endfor %}
																			</div>
																</div>
										
																<div class="checkbox">
																	<label>
																			{{ form.remember_me() }} {{ form.remember_me.label }} 
																		
																	</label>
																</div> 
															</div>
															<div class="footer text-center">
																{{ form.submit(class="btn btn-primary btn-simple btn-wd btn-lg") }} <!-- Get Started -->
															</div>
														</form>
														<p>
															{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a>
														</p>
														<p>{{ _('Forgot Your Password?') }}
															<a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to Reset It') }}</a>
														</p>
												
							</div>
						
					</div>
					<div class="modal-footer text-center">
						...
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  End Modal -->
<!-- -->
    	<!-- notice modal -->
		<div class="modal fade" id="noticegameplanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-notice" >
			  <div class="modal-content" style="background-image: url({{ url_for('static', filename='img/442618small.jpg') }})">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
				  <h5 class="modal-title" id="myModalLabel">Game Plan</h5>
				</div>
				<div class="modal-body">
				  <div class="instruction">
					  <div class="row">
						  <div class="col-md-8">
							   <strong>Walk: Create</strong>
							   <p>Run an awareness campaign, Establish a tone and appearance, Develop creative content, Establish online audiences & communities</p>
						  </div>
						  <div class="col-md-4">
							  <div class="picture">
									<img class="img-rounded img-responsive" src="{{ url_for('static', filename = 'img/dg1.jpg') }}" alt="bluemoonAPP" >
								  
							  </div>
						  </div>
					  </div>
				  </div>
				  <div class="instruction">
					  <div class="row">
						  <div class="col-md-8">
								  <strong>Jog: Engage</strong>
								  <p>Position the Blue Moon brand, Build credibility & state authority, Engage communities, Create content</p>
						  </div>
						  <div class="col-md-4">
							  <div class="picture">
								  <img class="img-rounded img-responsive" src="{{ url_for('static', filename = 'img/dg2.jpg') }}" alt="bluemoonAPP" >
								  
							  </div>
						  </div>
					  </div>
				  </div>
				  <strong>Run: Activate</strong>
				  <p>Engage the audience, Roll out creative campaigns, Online activations, Create content</p>
				</div>
				<div class="modal-footer text-center">
					  <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Sounds good!</button>
				</div>
			  </div>
			</div>
		  </div>
		  <!-- end notice modal -->    
<!-- -->
	</body>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/home/script.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/parallax.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename = 'js/vertical-nav.js') }}"></script>
	

	<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/material.min.js') }}"></script>


    <!--    Plugin for Date Time Picker and Full Calendar Plugin   -->
    <script src="{{ url_for('static', filename = 'js/moment.min.js') }}"></script>
	

	<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/   -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/nouislider.min.js') }}"></script>
    

	<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker   -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-datetimepicker.js') }}"></script>
    

	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select   -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-selectpicker.js') }}"></script>
    

	<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/   -->
    <script src="{{ url_for('static', filename = 'js/bootstrap-tagsinput.js') }}"></script>
    

	<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput   -->
    <script src="{{ url_for('static', filename = 'js/jasny-bootstrap.min.js') }}"></script>
    

	<!--    Plugin For Google Maps   -->
    <!-- <script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
    

	<!--    Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc    -->

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/material-kit.js') }}" ver="1.2.1"></script>
	

</html>
